#jobsfont{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: '#505050';
}
#level{
    color: brown;
}
.openings{
    color: white;
    background-color:#4747fe;  
    font-weight: 500; 
}
.card{
    border:#f7f7f8 solid 1px;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 0px rgba(168, 153, 168, 1);
}

@media screen and (max-width: 470px) {
    #jobsfont{
        font-size: 1.75rem;
        
    }
    
}