@import url("https://fonts.googleapis.com/css?family=Muli:700");
:root {
  --background-modal-color: #fff;
  --body-color: #fff;
  --color-timeline-default: #D2D3D8;
  --color-step-completed: #5C6174;
  --color-checkmark-completed: #fff;
  --color-in-progress: #13CB8F;
  --color-label-default: var(--color-timeline-default);
  --color-label-completed: var(--color-step-completed);
  --color-label-loading: var(--color-in-progress);
  --color-icon-completed: var(--color-step-completed);
  --color-icon-default: var(--color-timeline-default);
}
:root.dark-mode {
  --color-checkmark-completed: #fff;
  --background-modal-color: #5C6174;
  --color-timeline-default: #9799A3;
  --color-checkmark-completed: var(--background-modal-color);
  --body-color: #fff;
  --color-step-completed: #fff;
}

* {
  box-sizing: border-box;
}

.wrapper {
  font-family: "Muli", sans-serif;
  /* background: var(--body-color); */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.toggle {
  transform: scale(0.8);
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 140px;
}
.toggle span {
  margin: 0 0.5rem;
}
.toggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.toggle input[type=checkbox]:checked + label {
  background: #13CB8F;
}
 .toggle input[type=checkbox]:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
 .toggle label {
  cursor: pointer;
  width: 75px;
  height: 34px;
  background: #D2D3D8;
  display: block;
  border-radius: 40px;
  position: relative;
}
.toggle label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 40px;
  transition: 0.3s;
}
.main-container {
  display: flex;
  font-family: "Muli", sans-serif;
  flex-direction: column;
  justify-content: center;
  transition: all 200ms ease;
  min-width: 500px;
  max-width: 750px;
  flex-grow: 1;
  border-radius: 5px;
}
.main-container .steps-container {
  padding: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .steps-container .step {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease;
  flex-grow: 0;
  height: 18px;
  width: 30px;
  border: 4px solid var(--color-timeline-default);
  border-radius: 50%;
}
 .main-container .steps-container .step .preloader, body .main-container .steps-container .step svg {
  display: none;
}
.main-container .steps-container .step.completed {
  width: 35px;
  height: 18px;
  background: var(--color-step-completed);
  border: none;
}
.main-container .steps-container .step.completed svg {
  transition: all 200ms ease;
  color: #13CB8F;
  display: block;
  height: 50px;
  width: 15px;
  fill: var(--color-checkmark-completed);
}
.main-container .steps-container .step.in-progress {
  width: 30px;
  height: 15px;
  background: var(--color-in-progress);
  border: none;
}
.main-container .steps-container .step.in-progress .preloader {
  display: block;
  height: 10px;
  width: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  border-left-color: transparent;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.main-container .steps-container .step .label {
  position: absolute;
  top: 30px;
  filter: none;
  z-index: 2000;
  color: var(--color-label-default);
  transition: all 200ms ease;
  font-weight: 700; 
}
.main-container .steps-container .step .label.completed {
  color: #fff;
}
body .main-container .steps-container .step .label.loading {
  color: var(--color-label-loading);
}
.main-container .steps-container .step .icon {
  font-size: 40px;
  position: absolute;
  top: -60px;
  color: var(--color-icon-default);
  transition: color 200ms ease;
}
.main-container .steps-container .step .icon.completed {
  color: var(--color-icon-completed);
}
.main-container .steps-container .step .icon.in-progress {
  color: var(--color-in-progress);
}
.main-container .steps-container .line {
  transition: all 200ms ease;
  height: 2px;
  flex-grow: 1;
  max-width: 120px;
  background: var(--color-timeline-default);
}
.main-container .steps-container .line.completed {
  background: var(--color-step-completed);
}
.main-container .steps-container .pending {
  background: #7d7e85;
}
.main-container .steps-container .line.next-step-in-progress {
  background: linear-gradient(to right, var(--color-step-completed), var(--color-in-progress));
}
.main-container .steps-container .line.prev-step-in-progress {
  background: linear-gradient(to right, var(--color-in-progress), var(--color-timeline-default));
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.process-icon{
    height: 20px;
}

@media  screen and (max-width: 470px) {
  .main-container {
    min-width: 370px;
  }
  .label{
        font-size: 12px;
  }
  .main-container .steps-container .step.in-progress {
    width: 40px;
    height: 20px;
  }
  .main-container .steps-container .step.in-progress .preloader {
    height: 13px;
    width: 13px;
  }
  .main-container .steps-container .step.completed {
    width: 40px;
    height: 20px;
  }
  
}